:root{
    --primary-color: #FBBC04;
}
#__next  {
    background-color: #f8f6f1;
    height: 100vh;
}
#app{
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 30px;
}
button{
    background-color: var(--primary-color);
}

nav{
    position: fixed;
    width: 100%;
}
nav svg{
    font-size: 50px;
    padding: 5px;
}
nav img {
    padding: 5px;
}
nav input {
    margin: 5px !important;
    height: '20px'
}

.foating-btn{
    background-color: var(--primary-color) !important;
    position:fixed;
    color: black;
    /* font-size: 40px; */
    border: none !important;
    bottom: 20px;
    right: 20px;
    display:block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 100;
}

.each-note{
    border-radius: 15px;
}